html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: color(primary);
  position: relative;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
}

.no-scroll {
  overflow: hidden !important;
}

#app.kiosk-mode * {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: pan-y;
}

ymaps a {
  pointer-events: none;
}
